@import './colors.scss';

.addCar {
    &__form {
        background: $surface;
        border-radius: 15px;
        padding: 40px;
        margin: 50px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
            margin-top: 20px;
        }
    }
}