@import './colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: 0.1s all;
}

body {
    background: $background;
    color: $onBackground;
}