@import "./colors.scss";

.garageItem {
  border-radius: 5px;
  width: 100%;
  padding: 10px 15px;
  background: $surface;
}

.title {
  text-align: center;
  font-size: 20px;
  letter-spacing: 1.25px;
  font-weight: 300;
}

.text {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info {

}

.description {

}

.button {
  margin-top: 10px !important;
}