@import './colors.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: $surface;
    color: $white;
    box-shadow: 0px -5px 10px 0px rgba(255, 255, 255, 0.5);

    svg {
        display: block;
    }
    &__car {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__burger {
        path {
            stroke: $white;
        }
    }

    &__plus {
        path {
            fill: $white;
        }
    }
    .back {
        background: none;
        border: none;
        outline: none;
    }
}



