@import './colors.scss';

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
 color: $onSurface !important;
}

.MuiOutlinedInput-input, .MuiInputLabel-outlined {
 color: $onSurface !important;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:not(.Mui-disabled, .Mui-error):before {
 border-bottom: 1px solid $primary !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
 border: 1px solid $primary !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
 color: $primary !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input, .MuiFormLabel-filled {
 color: $onSurface !important;
}