@import './colors.scss';

.OutgoingListItem {
  width: 100%;
  padding: 15px 20px;
  background: $surface;
  margin-bottom: 10px;
  border-radius: 5px;
  &:last-child {
    margin-bottom: 50px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $onSurface;
    font-weight: 300;
    letter-spacing: 0.15px;
    font-size: 16px;
  }

  .description {
    letter-spacing: 0.4px;
    font-size: 12px;
    margin-top: 12px;
  }

  .date {
    letter-spacing: 0.4px;
    font-size: 12px;
    margin-top: 12px;
  }
}

